@font-face {
    font-family: 'Star Jedi';
    src: url('../assets/fonts/StarJedi.woff2') format('woff2'),
    url('../assets/fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('../assets/fonts/StarJediHollow.eot');
    src: url('../assets/fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/StarJediHollow.woff2') format('woff2'),
    url('../assets/fonts/StarJediHollow.woff') format('woff'),
    url('../assets/fonts/StarJediHollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2b2726;
    color: #fff;
    font-family: 'Star Jedi', 'Helvetica Neue';
}

.title {
    color: #ffb500;
    font-family: 'Star Jedi Hollow', 'Helvetica Neue';
}

.input {
    border: 2px solid #ffb500;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
}

.card {
    flex: 1;
    border: 1px solid #ffb500;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
}


.card__list {
    padding: 0;
}
.card__item {
   list-style: none;
}
.card__item span:first-child {
    margin-right: 10px;
    color: #ffb500;
}
