@font-face {
    font-family: 'Star Jedi';
    src: url('../assets/fonts/StarJedi.woff2') format('woff2'),
    url('../assets/fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('../assets/fonts/StarJediHollow.eot');
    src: url('../assets/fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/StarJediHollow.woff2') format('woff2'),
    url('../assets/fonts/StarJediHollow.woff') format('woff'),
    url('../assets/fonts/StarJediHollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000c7;
    color: #fff;
    font-family: 'Star Jedi', 'Helvetica Neue';
    text-transform: lowercase;
}

.title {
    color: #ffb500;
    font-family: 'Star Jedi Hollow', 'Helvetica Neue';
}

.input {
    border: 2px solid #ffb500;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    font-family: 'Star Jedi', 'Helvetica Neue';
}
.input:focus {
    outline: #feb400 double 5px;
    outline-offset: -2px;
}

.card {
    flex: 1;
    position: relative;
    border: 1px solid hsla(43, 100%, 31%, 1);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
    background-color: rgba(8, 7, 7, 0.21);
}

.card__icon {
    width: 29px;
    position: absolute;
    right: 10px;
    top: 3px;
}
.card__list {
    padding: 0;
    flex: 1
}
.card__item {
   list-style: none;
}
.card__item span:first-child {
    margin-right: 10px;
    color: #ffb500;
}
.card__link {
    align-self: center;
}
.card__details {
    display: flex;
    flex-direction: row;

}
.popup__container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(6, 4, 4, 0.51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    position: relative;
    background-color: black;
    box-shadow: 0 0 6px #e0a004d9;
    border-radius: 5px;
}
.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.popup__title {
    padding: 15px;
    font-size: 20px;
}

.popup__content {
    padding: 30px 20px 50px 20px;
}


.row {
    display: flex;
    flex-direction: row;
}

.row__label {
    color: #ffb500;
    width: 150px;
    margin-right: 20px;
}

.row__value {
    flex: 1;
}
